.container {
  text-align: center;
  display: flex;
  padding: var(--space) 0;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border:var(--debug) solid red;
  padding: var(--space-sm) ;
  position: relative;
}
.logo {
  z-index: 9;
  width: 90%;
  border:var(--debug) solid green;
  animation-name: fade;
  animation-duration: 5s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.audio {
  height: 20px;
  margin-top: -20px;
  margin-left: 8px;
}
.audio::-webkit-media-controls-panel{
  background-color: var(--secondary);
}
@media screen and (min-width: 768px) {
  .logo {
    width: auto;
  }
}
.figure {
  border:var(--debug) solid blue;
  position: relative;
  mask: url('/images/mask.png') ;
  mask-size: 80%;
  mask-repeat: no-repeat;
  /* mask-position: center center; */
  width: 100%;
  margin-bottom: -60px;
  animation-name: fade;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.figure:before {
  content : '';
  width: 100%;
  height: 100%;
  z-index: 10;
  border:var(--debug) solid pink;

  position: absolute;
  top: 0; bottom : 0; left: 0; right: 0;
  background: linear-gradient(-15deg, white 30%, transparent);

}
@media screen and (min-width: 768px) {
  .figure {
    position: relative;
    mask-image: url('/images/mask.png') ;
    width: 614px;
    mask-size: 100%;
    height: 210px;
    margin-bottom: -60px;
  }

}
.foto {
  display: block;
  border:var(--debug) solid yellow;
  width: 80%;
  animation-name: foto;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@media screen and (min-width: 768px) {
  .foto {
    width: 100%;

  }
}
@keyframes foto {
  from {
    transform : translateY(10px) scale(1.12) rotate(1deg);
  }
  to {
    transform : translateY(-20px) scale(0.95) ;

  }
}

.container a:first-child:hover:after {
  display: none;
}

.container input {
    color: var(--text-color);
  font-size: 1.1rem;
  opacity: .6;
  padding: var(--space-sm);
  border-radius: var(--border-radius);
  border-color: var(--secondary);
  border-width: 1px;
  border-style: solid;
}
.container nav {
  display: flex;
  margin: var(--space-lg) 0;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .container nav {
    flex-direction: row;
  }
}
.container nav a {
    color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  opacity: .6;
  /* padding: var(--space-sm); */
}
.container nav a:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .container nav a {
   margin-left: var(--space);
   font-size: 1.2rem;

  }
}