.container {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
   
}
 .title,  .subtitle {
    margin-bottom : 0;
}
.subtitle{
    margin-top: 0;
    color : var(--primary);
    font-weight: 400;
}
.image{
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}
@media screen and (min-width: 768px) {
    .image{ 
        width: 60%;
        margin-right: var(--space);
    }
}
 .right {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
    }
.keepReading {
    margin-top:auto;
}