.container {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--space) * 2);
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
.description {
  font-size: 1.5rem;
  line-height: 2.3rem;
}
.title{ 
  font-size: 2rem;
  margin-bottom: .5rem;
}
.subtitle{
  font-size: 1.5rem;

}
.subtitle {
  margin-top: 0;
  color: var(--primary);
  font-weight: 400;
  position: relative;
}
.subtitle:after {
    content : '';
    position:absolute;
    width: 110%;
    height: var(--border-width);
    mix-blend-mode: multiply;
    bottom:-10px;
    left: -30%;
    opacity: .6;
    background-color: var(--secondary);
}

.image {
  width: 100%;
  filter: saturate(0%);
  animation-name: color;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  object-fit: cover;
  border-radius: var(--border-radius);
}
@keyframes color {
  from {
    filter: saturate(0%);
  }
  to {
    filter: saturate(60%);
  }
}
.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .image {
    width: 60%;
    max-height: 500px;
    margin-right: var(--space);
  }
  .right {
    margin-left: var(--space);
  }
}

.keepReading {
  margin-top: auto;
}
