.container {
    float: right;
    display: flex;
    align-items: center;
}
.container > * {
    padding :var(--space);
}
.link { 
    opacity: .7;
    width: 26px;
    height: auto;
}
.link:hover {
    opacity: 1;
}