html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#app{
  display: grid;
  border:1px solid red;
  max-width: 800px;
  grid-template-columns: 1fr 300px;
  margin:auto;
  gap: 1rem;
  grid-template-areas: 
  "header header"
  "content sidebar"
  "footer footer"
  ;
}

header {
  
}