@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 1rem 0;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  line-height: 1.7em;
  color: var(--text-color);
}

a {
  color: var(--primary);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{ 
  --debug : 0px;
  --space-sm : .5rem;
  --space : 1rem;
  --primary : #9F5765;
  --secondary : #C3A60A;
  --text-color : #333;
}
#container{
  display: grid;
  border:var(--debug) solid red;
  max-width: 1080px;
  grid-template-columns: 1fr ;
  margin:auto;
  width: 90%;
  gap: var(--space);
  grid-template-areas: 
  "header"
  "aside"
  "main"
  "footer"
  ;
}
@media screen and (min-width: 768px) {
  #container {
    grid-template-columns: 1fr 300px;

    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer"
    ;
  }
}
header {
  grid-area: header;
  border:var(--debug) dashed red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header { 
    flex-direction: row;
    justify-content: space-between;
  }
}
main {
  grid-area: main;
  border:var(--debug) dashed blueviolet;
}
aside {
  grid-area: aside;
  border:var(--debug) dashed yellow;
}
footer {
  grid-area: footer;
  border:var(--debug) dashed green;
}
header {
  text-align: center;
}
header nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header  a{
  padding: var(--space-sm) var(--space-sm);
  position:relative;
  color: var(--text-color);
}
header > a {
  font-size: 1.5rem;
  padding: var(--space-sm) 0;


}
a {
  position:relative;
  padding: var(--space-sm) 0;
}
a:after {
  content : ' ';
  width: 0%;
  height: 2px;
  background: #fefefe;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  margin:auto;
  display: block;
  transition: width .2s;
}
 a:hover:after {
  background: var(--secondary);
  width: 100%;


}


footer {
  padding : var(--space) 0;
  border-top :2px solid silver;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}